@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;600;700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto Mono', monospace, sans-serif;}
header{
    width: 100%;
    max-height: 600px;
    background-image: url(./img/header.jpg); /*Kép keresése*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 1rem;
}

.effekt li:after, .effekt li:before {
  content: "";
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}

.effekt li:after {
  bottom: 25%;
  left: 0;
}

.effekt li:before {
  top: 25%;
  right: 0;
}

.effekt li:hover::after {
  width: 100%;
  height: 1px;
  bottom: 25%;
  background-color: #fff;
}
.effekt li:hover::before {
  width: 100%;
  height: 1px;
  top: 25%;
  background-color: #fff;
}

.menu ul li a::after{
  content: "/";
  position: relative;
  right: -.625rem;
}

.menu ul li:last-child a:after {
  content: none;
}

body{
    background-color: rgb(47,79,79);
    margin: 0;
    overflow-x: hidden;
}
.header_text h1, h2{
    text-align: center;
    color: #fff;
}
.header_text h1{
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 2px;
}
.header_text h2{
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 8px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    height: 100vh;
    margin-top: 1rem;
    padding: 1rem;
}

.container {
  font-size: 16px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 100vh;
  padding: 2rem;
  border-radius: 0.6em;
  box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}
#options-container {
  text-align: center;
}
#options-container div {
  width: 100%;
  display: flex;
  margin: 1.2em 0 2.4em 0;
  column-gap: 1rem;
}
#options-container button {
  padding: 0.6em 1.2em;
  border: 3px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.3em;
  text-transform: capitalize;
  cursor: pointer;
}
#options-container button:disabled {
  border: 3px solid #808080;
  color: #808080;
  background-color: #efefef;
}
#options-container button.active {
  background-color: #8c52ff;
  border: 3px solid #000000;
  color: #fff;
}
.letter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
}
#letter-container button {
  height: 2.4em;
  width: 2.4em;
  border-radius: 0.3em;
  background-color: #ffffff;
  cursor: pointer;
}
.new-game-popup {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.6em;
}

#user-input-section {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 0.6em 0 1.2em 0;
}
canvas {
  display: block;
  margin: auto;
  border: 10px solid #8c52ff;
  border-radius: 10px;
}
.hide {
  display: none;
}
#result-text h2 {
  font-size: 1.8em;
  text-align: center;
}
#result-text p {
  font-size: 1.25em;
  margin: 1em 0 2em 0;
}
#result-text span {
  font-weight: 600;
}
#new-game-button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  background-color: #8c52ff;
  border: 3px solid #000000;
  color: #fff;
  border-radius: 0.2em;
  cursor: pointer;
}
.win-msg {
  color: #39d78d;
}
.lose-msg {
  color: #fe5152;
}

.services{background-color: #000; color: #fff; margin-bottom: -10px;}
.services .row{display: flex; flex-direction: row; justify-content:space-around}
.services .text{text-align: center; font-size: 1rem; font-weight: 600;}
.services .img{text-align: center; padding: 10px;}
footer {
    background-color: #000;
    width: 100%;
    padding: 10px 0; 
    margin: 0;
    font-size: 1.2rem;
    clear: both;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
  }
footer > span {font-size: 15px; color: #555;}
.footer-nav {padding: 20px; text-transform: uppercase; text-align: center;}
.footer-nav li {display: inline-block; font-weight: 600; padding-right: 20px;}
.footer-nav a {color: #79797B; text-decoration: none; font-size: 15px;}
.footer-nav a:hover {color: #fbfbfb;}